<h2>Editing the  task </h3>
<%= form_for :task, url: task_path(@task), method: :patch  do |f| %>

<% if @task.errors.any? %>
    <% @task.errors.full_messages.each do |err| %>
        <div class="alert alert-danger"> <%= err %> </div>
    <% end %>
<% end %>

<p>Name of Task<br>
<%= f.text_field(:title , {:class => 'form-control'} ) %>
</p>
<p>Details of Task<br>
<%= f.text_area(:body , {:class => 'form-control'}) %>
</p>

<p>  <br>
<%= f.submit({:class => 'btn btn-primary'}) %>
</p> 
<% end %>